<h1>{{ ballot.name_text }}</h1>

{% if error_message %}<p><strong class="error_message">{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'balloting:vote' ballot.url_fragment_text voter.url_fragment_text %}" method="post">
{% csrf_token %}
{% for question in questions.all %}
    <h2>{{ question.question_text }}</h2>
    {% for choice in question.choice_set.all %}
        <input type="radio" name="question{{ question.order_int}}_choice" id="question{{ question.order_int}}_choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="question{{ question.order_int}}_choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
{% endfor %}
<p>
<input type="submit" value="Record vote">
</form>
